.about-text{
  font-size: 20px;
}

.about {
  text-align: left;
  max-width: 75rem;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .about {
    margin-right: 2rem;
    margin-left: 2rem;
  }

}
