.footer{
  height: 3em;
}

.body {
  background-color: var(--bkg-color);
  color: var(--text-color);
}

.font {
  font-size: 100%
}

@media only screen and (max-width: 600px) {
  .font {
    font-size: 50%
  }
}
