/* .contact {
  color: var(--form-color);
  background-color: var(--form-color);
} */

.contact-layout {
  display: inline-grid;
  font-size: 150%;
  box-sizing: border-box;
  justify-items: center;
}

label {
  text-align: left;
}

.contact-greeting {
  font-size: 300%;
  margin: 1em;
}

.single-input {
  width: 17em;
  min-width: 0;
  padding: .5em;
}

input { 
  border-radius: .4em;
  border: solid;
  border-color: #A9A9A9;
  -webkit-appearance: none;
  background-color: var(--bkg-color);
  transition: all ease .3s;
}

input:focus,
textarea:focus {
  outline: 0;
  box-shadow: 0 0 0 3px var(--hvr-foc-color);
}

input:invalid {
  box-shadow: 0 0 0 3px #B00020;
  /* box-shadow: 0 0 0 3px var(--err-color); */
}

.message,
.submit {
  grid-column-start: 1;
  grid-column-end: 3;
}

textarea {
  border: solid;
  border-color: #A9A9A9;
  border-radius: .4em;
  width: 35em;
  padding: .4em;
  resize: none;
  height: 8em;
  -webkit-appearance: none;
  background-color: var(--bkg-color);
  transition: all ease .3s;
}

.send-button {
  border: none;
  border-radius: .4em;
  background-color: var(--bkg-color);
  border-color: #A9A9A9;
  padding: .2em .5em .2em .5em;
  transition: all ease .3s;
}

.send-button:hover,
.send-button:focus {
  outline: 0;
  background-color: var(--btn-hvr-color);
}

br {
  line-height: 2em;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.modal-help{
  position: fixed; 
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: rgb(0,0,0); */
  background-color: var(--mdl-back);
  /* background-color: rgba(0,0,0,0.4); */
  transition: all ease .3s;
}

.modal__content {
  position: relative;
  background-color: var(--bkg-color);
  margin: 15% auto;
  border-radius: .4em;
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1em;
}

.modal__header {
  margin: 0 1em 0 1em;
  padding-top: .3em;
  padding-bottom: .3em;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 500;
  font-size: 200%;
}

.close-modal {
  display: block;
  color: #aaa;
  background-color: var(--bkg-color);
  font-size: 3em;
  font-weight: bold;
  border: none;
  width: .8em;
  height: 1em;
  line-height: 0;
  padding: 0;
  margin-left: auto;
  border-radius: 1em;
  margin-right: .2em;
}

.close-modal:hover,
.close-modal:focus {
  color: var(--hvr-color);
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .contact-greeting {
    font-size: 200%;

  }
  .contact-layout {
    font-size: 100%;
    width: 100vw;
  }

  .message,
  .submit {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .single-input {
    width: 95vw;
    padding: .5em;
  }

  textarea {
    width: 95vw;
  }

  .modal__content {
    width: 80%;
    margin: auto auto;
  }

  .modal-help {
    display: flex;
  }

  .close-modal {
    right: 0;
    border-radius: 1em;
  }
}