.header {
  background-color: var(--bkg-color);
  color: var(--text-color);
  font-size: 20px;
}

.nav-link {
  font-size: 4rem;
  font-weight: bold;  
  line-height: 5rem;
  margin: 2rem;
  height: 5rem;
  padding-left: .1em;
  padding-right: .1em;
  color: var(--text-color);
  cursor: pointer;
}

.nav-link:hover{ 
  color: var(--hvr-foc-color);
}

.nav-link:focus{ 
  outline: 0;
  box-shadow: 0 0 0 3px var(--hvr-foc-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1em;
  overflow: hidden;
  padding-left: 15em;
}

li {
  display: inline;
  text-decoration: none;
  float: left;
}

.header-right {
  float: right;
  padding-right: 15em;
}

.description {
  padding: 5rem;
}

.darkmode-icon,
.lightmode-icon {
  position: absolute;
  background: var(--text-color);
  height: 2em;
  width: 2em;
  border-radius: 10em;
  margin-top: .3em;
}

.darkmode-icon:hover,
.darkmode-icon:focus,
.lightmode-icon:hover,
.lightmode-icon:focus {
  outline: none;
  position: absolute;
  background: var(--hvr-foc-color);
  height: 2em;
  width: 2em;
  border-radius: 10em;
  box-shadow: 0 0 0 .15em var(--bkg-color),
              0 0 0 .3em var(--hvr-foc-color);
}

.darkmode-icon::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  height: 1.6em;
  width: .8em;
  border-radius: 0 1.2em 1.2em 0;
  background-color: var(--bkg-color);
}

.lightmode-icon::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  height: 1.6em;
  width: .8em;
  border-radius: 1.2em 0 0 1.2em;
  background-color: var(--bkg-color);
}

@media only screen and (max-width: 800px) {
  .nav-link {
    font-size: 2.5rem;
  }
  
  .darkmode-icon,
  .lightmode-icon {
    margin-right: 0em;
    right: 1em;
    top: 2.3em;
  }

  ul {
    font-size: 10px;
    padding-left: 0em;
  }

  .header-right {
    padding-right: 1em;
  }
}