.center {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 2em;

}

.phoneBorder {
  position: relative;
  background: #F6E0C9;
  padding: .5em;
  border-radius: 6.5em;
}

.powerButtonClick{
  position: absolute;
  height: 12em;
  width: 2em;
  top: 15em;
  right: -1.15em;
  cursor: pointer;
}

.powerButton {
  position: absolute;
  background: #EBBD8C;
  height: 10em;
  width: .5em;
  top: 16em;
  right: -.4em;
}

.powerButton::after{
  content: '';
  position: absolute;
  color: #E09A4F;
  width: 0;
  height: 0;
  border-left: 1px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 4px solid currentColor;
  left: -5%;
  top: -4px;
}

.powerButton::before{
  content: '';
  position: absolute;
  color: #E09A4F;
  width: 0;
  height: 0;
  border-left: 1px solid transparent;
  border-right: 5px solid transparent;
  border-top: 4px solid currentColor;
  left: -5%;
  bottom: -4px;
}

.topVolumeButton {
  position: absolute;
  background: #EBBD8C;
  height: 5em;
  width: .5em;
  top: 15em;
  left: -.4em;
}

.topVolumeButton::after{
  content: '';
  position: absolute;
  color: #E09A4F;
  width: 0;
  height: 0;
  border-right: 1px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 4px solid currentColor;
  left: -5%;
  top: -4px;
}

.topVolumeButton::before{
  content: '';
  position: absolute;
  color: #E09A4F;
  width: 0;
  height: 0;
  border-right: 1px solid transparent;
  border-left: 5px solid transparent;
  border-top: 4px solid currentColor;
  left: -5%;
  bottom: -4px;
}

.bottomVolumeButton {
  position: absolute;
  background: #EBBD8C;
  height: 5em;
  width: .5em;
  top: 21.5em;
  left: -.4em;
}

.bottomVolumeButton::after{
  content: '';
  position: absolute;
  color: #E09A4F;
  width: 0;
  height: 0;
  border-right: 1px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 4px solid currentColor;
  left: -5%;
  top: -4px;
}

.bottomVolumeButton::before{
  content: '';
  position: absolute;
  color: #E09A4F;
  width: 0;
  height: 0;
  border-right: 1px solid transparent;
  border-left: 5px solid transparent;
  border-top: 4px solid currentColor;
  left: -5%;
  bottom: -4px;
}

.toggleButton {
  position: absolute;
  background: #EBBD8C;
  height: 2.5em;
  width: .5em;
  top: 10em;
  left: -.4em;
}

.toggleButton::after{
  content: '';
  position: absolute;
  color: #E09A4F;
  width: 0;
  height: 0;
  border-right: 1px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 4px solid currentColor;
  left: -5%;
  top: -4px;
}

.toggleButton::before{
  content: '';
  position: absolute;
  color: #E09A4F;
  width: 0;
  height: 0;
  border-right: 1px solid transparent;
  border-left: 5px solid transparent;
  border-top: 4px solid currentColor;
  left: -5%;
  bottom: -4px;
}

.phoneShade {
  background: #A9A9A9;
  padding: .5em;
  border-radius: 6em;
}

.phone {
  background: black;
  height: 77em;
  width: 38em;
  padding: 1.5em;
  border-radius: 5.5em;
}

.notchCurve {
  position: absolute;
  background: black;
  top: -2%;
  height: 5%;
  width: 18.1em;
  border-radius: 2em;
  z-index: 50;
}

.notchRight {
  position: absolute;
  top: -.5em;
  right: 7.95em;
  height: 1em;
  width: 1em;
  overflow: hidden;
}

.notchRight::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  left: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 99;
  border-radius: 50%;
  box-shadow: 0 0 0 300px black;
}

.notchLeft {
  position: absolute;
  top: -.5em;
  left: 7.95em;
  height: 1em;
  width: 1em;
  overflow: hidden;
}

.notchLeft::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 99;
  border-radius: 50%;
  box-shadow: 0 0 0 300px black;
}


.screen {
  display: flex;
  justify-content: center;
  position: relative;
  background: currentColor;
  height: 74em;
  border-radius: 4em;
  overflow: hidden;
}

.screen-off {
  color: black;
}

.screen-background {
  background-image: url('../backgrounds/background.jpg');
  background-color: grey;
  background-size: cover;
}

.cameraOutline {
  position: absolute;
  top: .2%;
  right: 37%;
  background: #101010;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  z-index: 51;
}

.camera {
  position: absolute;
  background: black;
  width: 60%;
  height: 60%;
  left: 20%;
  top: 20%;
  border-radius: 50%;
}

.cameraGlareLeft {
  position: absolute;
  background: blue;
  width: 75%;
  height: 70%;
  left: 5%;
  top: 12%;
  border-radius: 50%;
}

.cameraGlareRight {
  position: absolute;
  background: blue;
  width: 75%;
  height: 70%;
  right: 5%;
  top: 12%;
  border-radius: 50%;
}

.cameraGlareCenter {
  position: absolute;
  background: black;
  width: 50%;
  height: 75%;
  left: 25%;
  top: 12.5%;
  border-radius: 50%;
}

.speaker {
  position: absolute;
  background: #181818;
  top: .5%;
  width: 12%;
  height: .8%;
  border-radius: 1em;
  z-index: 51;
}

.screen-area {
  display: flex;
  align-content: center;
  position: absolute;
  top: 2.3em;
  left: -.9em;
  width: 100%;
  height: 100%;
  padding: 10%;
}

.dock {
  display: flex;
  bottom: 1.3em;
  width: 93%;
  height: 12%;
  border-radius: 2.4em;
  background: #212121;
  position: absolute;
  align-content: center;
}

.interact {
  background: red;
  position: absolute;
  z-index: 100;
  height: 2em;
  width: 9em;
  border-radius: 1em;
  color: white;
  font-size: 110%;
  line-height: 190%;
  left: 28em;
  top: -1em;
  display: inline-block;
}

.fade-out {
  animation-name: stretch;
  animation-duration: .2s; 
  animation-timing-function: ease-in; 
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes stretch {
  100% {
    transform: scale(0);
  }
}
