.frame {
  position: relative;
  width: 85%;
  height: 85%;
}

.movement-box {
  position: absolute;
  width: 5.7em;
  height: 5.7em;
  border-radius: 1.6em;
  overflow: hidden;
}

.icon-text {
  position: absolute;
  display: flex;
  width: 5.7em;
  height: 7em;
  justify-content: center;
}

.icon-text span{
  align-self: flex-end;
  line-height: .8;
  font-family: "Helvetica";
  font-size: .8em;
  color: black;
}

.exit {
  right: 1.25em;
  top: -1.5em;
  position: absolute;
  width: 6em;
  height: 2em;
  background: darkgrey;
  border-radius: 2em;
}

.exit:active {
  background:gray;
}
