.App_light {
  text-align: center;
  --text-color: black;
  --bkg-color: white;
  --hvr-foc-color: rgb(72, 72, 72);
  --btn-hvr-color: rgb(72, 72, 72, .3);
  --mdl-back: rgba(0,0,0,0.4);
}

.App_dark {
  text-align: center;
  --text-color: rgba(255,255,255,.87);
  --bkg-color: rgba(18,18,18);
  --hvr-foc-color: rgba(255,255,255,.5);
  --btn-hvr-color: rgba(255,255,255,.2);
  --mdl-back: rgba(255,255,255,.4);
}

@media (prefers-color-scheme: dark) {
  /* Dark theme styles go here */
  .App_dark {
    text-align: center;
    --text-color: rgba(255,255,255,.87);
    --bkg-color: rgba(18,18,18);
    --hvr-foc-color: rgba(255,255,255,.5);
    --btn-hvr-color: rgba(255,255,255,.2);
    --mdl-back: rgba(255,255,255,.4);
  }
}

@media (prefers-color-scheme: light) {
  /* Light theme styles go here */
  .App_light {
    text-align: center;
    --text-color: black;
    --bkg-color: white;
    --hvr-foc-color: rgb(72, 72, 72);
    --btn-hvr-color: rgb(72, 72, 72, .3);
    --mdl-back: rgba(0,0,0,0.4);
  }
}